# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=ublue-shatteredvales-dx

# Make this the same as your github username/organisation
REPO_ORGANIZATION="Shattered-Vales-Studio"

IMAGE_DESC="Shattered Vales DX Workstation"
IMAGE_KEYWORDS="bootc,oci,linux,dx,workstation"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL="https://github.com/Shattered-Vales-Studio/ublue-ShatteredVales-DX/blob/main/ShatteredVales-DX.png"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
